body{
    font-family: Arial, Arial, Helvetica, sans-serif
}
.list{
    text-align: center;
}

table{
width: 100%;
border-collapse: collapse;
}

td, th {
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
img {
    height: 40px;
}